---
layout: default
title: Contributors
permalink: /contributors/
---

<h2>Contributors</h2>

<p><a href="/submit">Share</a> your resources with us and join this list.</p>

{% assign all_authors = site.posts | map: "author" | compact | uniq | sort %}
<ul id="contributor_list">
  {% for author in all_authors %} {% assign author_name = author %} {% for
  author_dict in site.data.authors %} {% if author_name == author_dict[0] %} {%
  assign author_data = author_dict[1] %} {% break %} {% endif %} {% endfor %}
  <li>
    {{ author_name }}
    <ul>
      {% for post in site.posts %}{% if author_name == post.author %}
      <li class="resource">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}{% endfor %}
    </ul>
    {% assign my_site = false %}
  </li>
  {% endfor %}
</ul>
