---
layout: null
---

@import '{{ site.theme }}';

#random_resource img{
  max-height: 300px;
  max-width: 50%;
  margin: 15px auto;
}

#contributor_list {
  a {
    text-decoration: none;
  }
  .resource a {
    font-size: smaller;
    color: #b5e853;
  }
}
